<h2> Edit Todo </h2>

<% if notice %>
 <p style="color: green;"><%= notice %></p>
 <% end %>

<%= render "form" %>

<%= link_to "Show", todo_list_path(@todo_list) %> ||

<%= link_to "Back to home", todo_lists_path %>
