<p style="color: green"><%= notice %></p>

<% content_for :title, "Tasks" %>

<h1>Todo List</h1>

<div id="todo_lists">
  <% @todo_lists.each do |todo_list| %>
    <%= render todo_list %>
    <%# <p> %>
      <%# <%= link_to "Show the list", todo_list %>
    <%# </p> %>
  <% end %>
</div>


