<h2> Todo List Details </h2>
<p><strong>Name : </strong> <%= @todo_list.name %> </p>
<p><strong>Description : </strong> <%= @todo_list.description %> </p>

<%= link_to "Back to home", todo_lists_path %>
